<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://172.31.82.74:8081/TuNiuApp2_1.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://is1.mzstatic.com/image/thumb/Purple111/v4/5b/53/86/5b5386ec-16c8-5568-a601-63a23e6e3697/source/175x175bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://is1.mzstatic.com/image/thumb/Purple111/v4/5b/53/86/5b5386ec-16c8-5568-a601-63a23e6e3697/source/175x175bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tuniu.app</string>
				<key>version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>途牛旅游</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
